<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <main class="interactive">
        <h1 class="graphic-hed">Multifamily buildings with federally backed loans</h1>
        <p class="graphic-chatter">Residential building owners who hold federally  backed loans are not allowed to evict tenants until July 25. Look up your building to see whether it falls under this rule. Fannie Mae, Freddie Mac and FHA-insured mortgages are in this dataset; VA and USDA loans are not.</p>
        <input id="search-bar" class="search-bar">
        <div class="flexbox">
          <div class="map-container">
            <div class="aspect-ratio-outer">
              <div class="aspect-ratio-inner">
                <leaflet-map zoom=9>
                  <tile-layer layer="cartoPositron"></tile-layer>
                </leaflet-map>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table id="table" class="table">
              <thead>
                <th class="building">Building</th>
                <th class="address">Address</th>
                <th class="financing">Financing</th>
              </thead>
              <tbody>
                <% json.buildings.forEach(function(b) { %>
                  <tr>
                    <td class="building"><%= b.building_name %></td>
                    <td class="address"><%= b.Address %></td>
                    <td class="financing"><%= b.financing %></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
